<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="AI Timeline RSS Feed" href="{{ "/feed.xml" | relative_url }}">
</head>
<body>

    {{ content }}

</body>
</html>
